Origin: XBian
Package: xbian-package-usbmount
Version: 1.0-0.1
Section: utils
Essential: No
Priority: extra
Architecture: all
Replaces: usbmount
Depends: lockfile-progs, udev, util-linux (>> 2.16)
Conflicts: usbmount
Provides: usbmount
Maintainer: mk01 <development@xbian.org>
Description: automatically mount and unmount USB mass storage devices
